chromadb==0.6.3
fastapi==0.115.11
huggingface-hub==0.29.2
langchain-text-splitters==0.3.6
loguru==0.7.3
PyMuPDF==1.25.3
python-dotenv==1.0.1
pysqlite3-binary==0.5.3
regex==2024.11.6
requests==2.32.3
sentence-transformers==3.4.1
torch==2.6.0
transformers==4.49.0
uvicorn==0.34.0
